.QT2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D1E9F9;
  height: 80vh;
  padding: 20px;
  text-align: center;
}

.QT2-instructions {
  font-size: 18px;
  color: #333; /* 텍스트 색상 업데이트 */
  margin-bottom: 20px;
}

.QT2-option-button {
  background-color: #fff;
  color: black;
  font-size: 18px;
  width: 300px;
  height: 100px;
  padding: 14px 28px; /* 좀 더 큰 패딩 */
  margin: 10px;
  border: none;
  border-radius: 25px; /* 더 둥근 모양 */
  cursor: pointer;
  transition: all 0.3s ease;
}

.QT2-option-button:last-child {
  margin-bottom: 0;
}

.QT2-option-button:hover {
  background-color: #0056b3; /* 호버 시 색상 업데이트 */
}
