.QT5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D1E9F9; /* 짙은 파란색 배경 */
  height: 80vh;
  padding: 20px;
  text-align: center;
}

.QT5-content {
  display: flex;
  flex-direction: row; /* 가로로 배치 */
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* 내용 상단 여백 추가 */
}

.QT5-saturi-box,
.QT5-image-box {
  flex: 1;
}

.QT5-button {
  background-color: #fff; /* 주황색 버튼 */
  color: black;
  font-size: 18px;
  width: 150px;
  height: 150px;
  padding: 14px 28px; /* 좀 더 큰 패딩 */
  margin: 10px;
  border: none;
  border-radius: 25px; /* 더 둥근 모양 */
  cursor: pointer;
  transition: all 0.3s ease;
}

.QT5-button:hover {
  background-color: #ff6f00; /* 호버 시 색상 변화 */
  border-color: #ff6f00; /* 호버 시 테두리 색상 변화 */
}

.QT5-message {
  font-size: 24px;
  margin-top: 20px;
  color: #ff6f00; /* 주황색 메시지 */
}

.QT5-restart-button {
  background-color: #ff3b30; /* 빨간색 재시작 버튼 */
  color: #fff;
  font-size: 18px;
  padding: 14px 28px;
  margin-top: 20px;
  border: 2px solid #ff3b30; /* 빨간색 테두리 */
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.QT5-restart-button:hover {
  background-color: #c82327; /* 호버 시 색상 변화 */
  border-color: #c82327; /* 호버 시 테두리 색상 변화 */
}
