.QT1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D1E9F9;
  height: 80vh;
  padding: 20px;
  text-align: center;
}

.QT1-container h3 {
  font-size: 24px;
  color: #333; /* 아이폰의 기본 텍스트 색상과 유사하게 설정 */
  margin-bottom: 20px;
}

.QT1-instructions {
  font-size: 18px;
  color: #666; /* 부가 설명 텍스트의 색상을 조정하여 더 읽기 쉽게 설정 */
  margin-bottom: 20px;
}

.QT1-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QT1-option-button {
  background-color: #fff; /* 주황색 버튼 */
  color: black;
  font-size: 18px;
  width: 300px;
  height: 100px;
  padding: 14px 28px; /* 좀 더 큰 패딩 */
  margin: 10px;
  border: none;
  border-radius: 25px; /* 더 둥근 모양 */
  cursor: pointer;
  transition: all 0.3s ease;
}

.QT1-option-button:last-child {
  margin-bottom: 0; /* 마지막 선택지 버튼의 하단 마진을 제거하여 깔끔한 UI를 유지 */
}

.QT1-option-button:hover {
  background-color: #0056b3; /* 버튼에 마우스 호버 시 조금 더 진한 파란색으로 변화 */
}
