.QT4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D1E9F9; /* 짙은 파란색 배경 */
  height: 80vh;
  padding: 20px;
  text-align: center;
  }
  
  .QT4-container h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .QT4-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .QT4-button {
    background-color: #fff; /* 주황색 버튼 */
    color: black;
    font-size: 18px;
    width: 300px;
    height: 100px;
    padding: 14px 28px; /* 좀 더 큰 패딩 */
    margin: 10px;
    border: none;
    border-radius: 25px; /* 더 둥근 모양 */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .QT4-message {
    font-size: 18px;
    margin-top: 10px;
    color: #007aff;
  }
  